@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 50px;
  color: #6a6a6a;
  padding: 50px 0;
}


.section {
  /* height: 150px; */
  width: 50vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px 20px;
  /* background-color: red; */
}

.first .box {
  /* height: 20vh; */
  /* width: 35vw; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
  padding: 10px 0;
}
.section input,
.first .box input,
.second input {
  /* height: 50px; */
  width: 100%;
  padding: 20px 10px;
  color: #6a6a6a;
  border: 1px solid #6a6a6a;
  outline: 0;
  border-radius: 10px;
}
.first .box h2 {
  color: #6a6a6a;
}

/* second section started  */
.second {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 10px;
}
.second button, section button {
  padding: 10px 0;
  border: 0;
  outline: 0;
  margin: 10px 0;
}
.second p {
  margin-bottom: 10px;
}

.third, .fourth, .five, .six {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
